@model IEnumerable<FbuExam.Models.ExamDefinitionViewModel>

@{
    ViewData["Title"] = "ListExam";
}

<h1>ListExam</h1>

<p>
    <a asp-action="AddExam">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    <i onclick="showHideDetail(@item.Id)" id="btn_@item.Id" class="bi bi-caret-right"></i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "AddExam", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.ActionLink("Take Exam", "TakeExam", new { id = item.Id })
                </td>
            </tr>

            @if (item.Questions.Count > 0)
            {
                <tr style="display:none" id="tr_@item.Id">
                    <td colspan="3">
                        @Html.Partial("_QuestionListPartial", item.Questions)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<style>

  

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    #detailTable  tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<script>
    function showHideDetail(id) {
        var elementId = "#tr_" + id;
        $(elementId).toggle();

        var iconId = "#btn_" + id;
        $(iconId).toggleClass("bi-caret-right");
        $(iconId).toggleClass("bi-caret-down");
    }
</script>
